<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/boxSize.css" rel="stylesheet">

</head>

<body>
<div id="wrap">

    <div id="div1">
        <div class="div1a">
         <img class='img1' style="width:300px;height:200px;" src="/static/1.jpeg" alt="setting" class="imgsize" >
        </div>
        <div class="div1b">
         <div class="div1b1">
             <h1> Welcome to trouble shooting workshop </h1>
         </div>
        </div>

    </div>


    <div id="div2">
        <div id="div2a" >
            Option hisory
        </div>

        <div id="div2b">
            <div class="div2b1">
                <h2>Question for starting, a realy realy long quesiton,a realy realy long quesiton</h2>
            </div>

            <div class="div2b2">

                <form action="" method="get">

<h3><input name="Fruit" type="radio" value="" /> Scenario 1 , blaaaaaaaaa</h3><br>
<h3><input name="Fruit" type="radio" value="" /> Scenario 2 , blaaaaaaaaa</h3><br>
<h3><input name="Fruit" type="radio" value="" /> Scenario 3 , blaaaaaaaaa</h3><br>
<h3><input name="Fruit" type="radio" value="" /> Scenario 4 , blaaaaaaaaa</h3><br>

</form>

</div>


</div>
</body>
</html>